/*@media (max-width: 768px) {
    .abcda {
        margin: 0 auto;*/ /* sets left and right margins to 0, and makes the element centered */
            /*width: 100%;*/ /* sets the width to 100% */ 
            /*height: 100%; 
    }
}*/





@media (max-width: 768px) {
    .abcda {
        margin-left: -247px !important;
        margin-right: -604px !important;
    }
        .abcda .form-control {
            width: 50%;
        }
        .abcda .inner{
            width:60%;
        }
        .abcda select{
            width:50% !important; 
        }
            .abcda .inner h3 {
                margin-left:-335px;
            }
        .abcda td input {
            width: 100% !important;
        }
        .abcda td select{
            width:100% !important;
        }
}

   