@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="Hulool Creations">
	<!-- Meta Description -->
	@* <meta name="description" content="വിവിധ ഗൾഫ് നാടുകളിലേയും മറ്റും  പ്രവാസികളായ KMCC അനുഭാവികളെ കൂട്ടി യോജിപ്പിച്ചുകൊണ്ട് സുൽത്താൻ ബത്തേരി നിയോജകമണ്ഡലം  അടിസ്ഥാനത്തിൽ രൂപീകരിച്ച മുസ്ലിം ലീഗിന്റെ ഒരു പോഷക സംഘടനയാണ് സുൽത്താൻ ബത്തേരി നിയോജക മണ്ഡലം GLOBAL KMCC ."> *@
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->

	<title>Global KMCC Vazhakkad</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="https://gkmccsbyconstituency.com/public/css/animate.min.css" type="text/css">
	<script src="https://gkmccsbyconstituency.com/public/js/wow.min.js"></script>
	<script src="https://gkmccsbyconstituency.com/public/js/jquery.fittext.js"></script>
	<script>
		new WOW().init();
	</script>

	<link rel="stylesheet" type="text/css" href="https://gkmccsbyconstituency.com/public/css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/edited-nav.css"> -->
	<link rel="stylesheet" type="text/css" href="https://gkmccsbyconstituency.com/public/css/nav-bar.css">
	<link rel="stylesheet" type="text/css" href="https://gkmccsbyconstituency.com/public/css/responsive.css">

	<script type="text/javascript">

		$(window).scroll(function () {
			if ($(".go-top").offset().top > 750) {
				$(".go-top").addClass("go-top-no");
			} else {
				$(".go-top").removeClass("go-top-no");
			}
		});

	</script>

	<link href="https://gkmccsbyconstituency.com/public/css/owl.carousel.css" rel="stylesheet">
	<link href="https://gkmccsbyconstituency.com/public/css/owl.theme.css" rel="stylesheet">

</head>
<body>

	<div class="top-bg" style="background-color:#053b06 !important;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-5 ">
					<div class="sm-only-top">
						@* <div class="social">
							<a target="_blank" href="https://www.facebook.com/groups/344274409354454/"> <i class="fab fa-facebook-f"></i> </a>
						</div>
						<!--<div class="social">-->
						<!--	<a target="_blank" href="https://api.whatsapp.com/send?phone=+966506377324"> <i class="fab fa-whatsapp"></i> </a>-->
						<!--</div>-->
						<div class="social">
							<a target="_blank" href="https://www.youtube.com/channel/UCrVL50XD5BgERwdAVmDi5Dg"> <i class="fab fa-youtube"></i> </a>
						</div> *@
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 status text-right">
					<a style="
    display: inline-block;
    background: green;
    color: #fff;
    margin-left: 10px;
    padding: 3px 15px;
    font-size: 14px;
    border-radius: 12px;
" target="_blank" href="/login"> Login</a>
					<a style ="
	display: inline-block;
	background: green;
	color: #fff;
	margin-left: 10px;
	padding: 3px 15px;
	font-size: 14px;
	border-radius: 12px;
" target="_blank" href="/Register/Index">
						Register</a>
					<a style="
	display: inline-block;
	background: green;
	color: #fff;
	margin-left: 10px;
	padding: 3px 15px;
	font-size: 14px;
	border-radius: 12px;
" target="_blank" href="@Url.Action("Committiee", "Home")">
						Committee
					</a>
			@* 		<a style="
	display: inline-block;
	background: green;
	color: #fff;
	margin-left: 10px;
	padding: 3px 15px;
	font-size: 14px;
	border-radius: 12px;
" target="_blank" href="@Url.Action("AboutUs", "Home")">
						About
					</a> *@
					<!--   <a href="https://gkmccsbyconstituency.com/public/member-status">Check Your Status </a>-->
					<!--<a href="https://gkmccsbyconstituency.com/public/security-scheme-status">Check Security Scheme Status </a>-->
				</div>
			</div>
		</div>
	</div>

	<div id="logo">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<a href="/Login_v16/images/VAZHAKKAD.jpg"><img class="img-responsive" src="/Login_v16/images/VAZHAKKAD.jpg"></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		@* <nav class="navbar navbar-default ">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav navbar-center">
						<li><a href="https://gkmccsbyconstituency.com/public">Home</a></li>
						<li><a href="https://gkmccsbyconstituency.com/public/about-us">About Us</a></li>
						<li><a href="https://gkmccsbyconstituency.com/public/schemes">Schemes</a></li>
						<li><a href="https://gkmccsbyconstituency.com/public/committee">Committee</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sub Committee <i class="fas fa-angle-down"></i></a>
							<ul class="dropdown-menu">

								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/ambalavayal-panchayat-2022-2025">AMBALAVAYAL PANCHAYAT ( 2022-2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/noolpuzha-panchayat-2022-2025">NOOLPUZHA PANCHAYAT ( 2022 - 2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/meenangadi-panchayat-2022-2025">MEENANGADI PANCHAYAT ( 2022 - 2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/poothadi-panchayat-2022-2025">POOTHADI PANCHAYAT ( 2022-2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/pulpally-panchayat-2022-2025">PULPALLY PANCHAYAT ( 2022-2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/mullankolly-panchayat-2022-2025">MULLANKOLLY PANCHAYAT ( 2022 - 2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/nenmeni-panchayat-2022-2025">NENMENI PANCHAYAT ( 2022 - 2025 )</a></li>
								<li><a href="https://gkmccsbyconstituency.com/public/sub-committee/sulthan-bathery-municipal-2022-2025">SULTHAN BATHERY MUNICIPAL ( 2022 - 2025 )</a></li>
							</ul>
						</li>
						<li> <a href="https://gkmccsbyconstituency.com/public/news">News </a></li>
						<li> <a href="https://gkmccsbyconstituency.com/public/gallery">Gallery </a></li>
						<li class="sm-only"> <a href="https://gkmccsbyconstituency.com/public/contact">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</nav> *@
	</div>


	<!-- start banner Area -->
	@* <section class="banner-area">
		<div class="container">
			<div class="row fullscreen d-flex justify-content-center">
				<div class=" col-lg-12 col-md-12 justify-content-center text-center">
					<h1>
						Welcome To <span class="span1">Global KMCC</span> <span class="span2">Sulthan Bathery Constituency</span>
					</h1>
				</div>
			</div>
		</div>
	</section> *@
	<!-- End banner Area -->

	@* <section class="open-hour-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 open-hour-wrap hm-abt-area">
					<h1>Members All Over From World</h1>
					<div id="owl-demo-clients" class="owl-carousel">
						<div class="item">
							<h4>India</h4>
						</div>
						<div class="item">
							<h4>Saudi Arabia</h4>
						</div>
						<div class="item">
							<h4>UAE</h4>
						</div>
						<div class="item">
							<h4>Qatar</h4>
						</div>
						<div class="item">
							<h4>Kuwait</h4>
						</div>
						<div class="item">
							<h4>Oman</h4>
						</div>
						<div class="item">
							<h4>Bahrain</h4>
						</div>
						<div class="item">
							<h4>Canada</h4>
						</div>
						<div class="item">
							<h4>Malasiya</h4>
						</div>
						<div class="item">
							<h4>London</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> *@

	@* <section class="gkmcc-btn">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="btn-wrapper">
						<div class="box">
							<h4>
								<a href="https://gkmccsbyconstituency.com/public/member-status">
									CHECK YOUR MEMBERSHIP STATUS <br>
									<span>അംഗത്വം പരിശോധിക്കുക</span>
								</a>
							</h4>
						</div>
						<div class="box">
							<h4>
								<a href="https://gkmccsbyconstituency.com/public/family-security">
									SECURITY SCHEME RULES AND REGULATIONS <br>
									<span>സുരക്ഷാ പദ്ധതി നിയമങ്ങളും വ്യവസ്ഥകളും</span>
								</a>
							</h4>
						</div>
						<div class="box">
							<h4>
								<a href="https://gkmccsbyconstituency.com/public/security-scheme-status">
									CHECK YOUR SECURITY SCHEME STATUS <br>
									<span>സുരക്ഷാ പദ്ധതി അംഗത്വം പരിശോധിക്കുക</span>
								</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> *@

	<section class="open-abt-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 hm-abt-area text-center">
					<h1 class="wow fadeInUp">Global KMCC Vazhakkad</h1>
					<p class="wow fadeInUp" data-wow-delay=".3s">
						അന്നം തേടി പുറംലോകത്തേക്കുള്ള മനുഷ്യന്റെ ആദ്യ യാത്ര എന്ന് മുതലാണ് എന്ന് കൃത്യമായി കണക്കാക്കുക പ്രയാസമാണ്

						എന്നാല്‍ ആ കണക്കോളം പഴക്കമുണ്ട് മലയാളികളുടെ പ്രവാസ ജീവിതത്തിനും,

						ജീവിതത്തിന്റെ രണ്ടറ്റവും കൂട്ടിമുട്ടിക്കുവാന്‍ കടല്‍ കടന്ന ലക്ഷക്കണക്കിന് പ്രവാസികളുടെ  കണക്കെടുത്താല്‍ വാഴക്കാട് പഞ്ചായത്തിലും കാണും   ആയിരക്കണക്കിന് പ്രവാസികള്‍ .

						അത്തരം പ്രവാസികളെ കൂടുതല്‍ അറിയുവാനും അവരുടെ പ്രയാസങ്ങളിലേക്ക് ഇറങ്ങി ചെല്ലുവാനും കണക്കെടുക്കുവാനും മുന്‍കാലങ്ങളില്‍ വളരെയധികം പരിമിതികള്‍ ഉണ്ടായിരുന്നു.

						എന്നാല്‍ ഈ ആധുനിക ലോകത്ത് സോഷ്യല്‍ മീഡിയയുടെ സാങ്കേതിക സംവിധാനങ്ങള്‍ പ്രയോജനപ്പെടുത്തി പ്രവാസികളെ സംഘടിപ്പിക്കുവാനും  , അവരുടെ ദൈനം ദിന ജീവിതത്തില്‍ കൂടുതല്‍ ഇടപെടലുകള്‍ നടത്തുവാനും വളരെ എളുപ്പമാണ്.

						ഈ തിരിച്ചറിവില്‍ നിന്നാണ് വാഴക്കാട് പഞ്ചായത്തിലുള്ള

						ഇന്ത്യന്‍ യൂണിയന്‍ മുസ്ലിംലീഗിന്റെ  ആശയാദര്‍ശങ്ങളെ പൂര്‍ണ്ണമായും ഉള്‍ക്കൊണ്ടുകൊണ്ട് ,

						മാതൃ സംഘടനയുടെ ഭരണഘടനക്ക്  വിധേയമായി  വാഴക്കാട് ഗ്ലോബല്‍ കെഎംസിസി രൂപീകൃതമാകുന്നത്.

					</p>
					@* <p class="wow fadeInUp" data-wow-delay=".6s">
						മണ്ഡലത്തിലെ പ്രവാസികൾക്ക് പ്രവാസ ലോകത്ത് നേരിടേണ്ടി വരുന്ന പ്രധാന പ്രശ്നങ്ങളിൽ ആവശ്യമായ ഇടപെടൽ നടത്തുക, മണ്ഡലം GLOBAL KMCC യുടെ അംഗങ്ങൾക്കും അവരുടെ കുടുംബങ്ങൾക്കും ഉപകരിക്കുന്ന രീതിയിൽ കുടുംബ സുരക്ഷാ പദ്ധതികൾ ആവിഷ്കരിച്ചു നടപ്പിൽ വരുത്തുക, അർഹതപ്പെട്ട മെമ്പർമാർക്ക് കാരുണ്യ ഭവന പദ്ധതി, 60 വയസ്സ് കഴിഞ്ഞ മെമ്പർമാർക്ക് പെൻഷൻ പദ്ധതി, പാവപ്പെട്ട മെമ്പർമാരുടെ പെണ്മക്കൾക്ക് വിവാഹ സഹായം, പ്രവാസം അവസാനിപ്പിച്ച് നാട്ടിലേക്ക് മടങ്ങിവരുന്ന മെമ്പർമാരുടെ പുനരധിവാസം തുടങ്ങിയവ  സാധ്യമാക്കുന്നതിന് ദീർഘ വീക്ഷണത്തോട് കൂടിയ പദ്ധതികൾ ആസൂത്രണം ചെയ്ത് നടപ്പിൽ വരുത്തുക
						അതോടൊപ്പം തന്നെ സമൂഹത്തിനും  സമുദായത്തിനും നമ്മുടെ സംഘടനക്കും മാതൃ പ്രസ്ഥാനത്തിനുമെല്ലാം  ഉപകരിക്കുന്ന രീതിയിൽ  ജീവകാരുണ്യ പ്രവർത്തനങ്ങൾ നടപ്പിൽ വരുത്തുക, തുടങ്ങിയ ലക്ഷ്യങ്ങളോട് കൂടിയാണ് സുൽത്താൻ ബത്തേരി നിയോജകമണ്ഡലത്തിന്റെ പരിധിയിൽ ഉൾപ്പെടുന്ന വിവിധ പഞ്ചായത്ത് / മുൻസിപ്പൽ കമ്മിറ്റികളിലെ മേൽ സൂചിപ്പിച്ച അംഗങ്ങളെ ഉൾപ്പെടുത്തികൊണ്ട് 2017 സെപ്റ്റംബർ 23 ന് സുൽത്താൻ ബത്തേരി നിയോജകമണ്ഡലം അടിസ്ഥാനത്തിൽ GLOBAL KMCC എന്ന സംഘടന രൂപീകരിച്ചത്.
					</p> *@
					<a style="background-color:#053b06 !important;" class="wow fadeInUp" data-wow-delay=".9s" href="@Url.Action("AboutUs", "Home")" class="">Read More</a>
				</div>
			</div>
		</div>
	</section>

	@* <section class="service-area">
		<div class="container">
			<div class="row ">
				<div class="col-md-12 text-center">
					<h1 class="wow fadeInUp">Services</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="service-area-wrapper">
						<div class="single-service wow fadeInUp">
							<div class="single-img-box">
								<img class="img-fluid" src="https://gkmccsbyconstituency.com/public/images/s2.jpg" alt="">
								<div class="over-lay"></div>
							</div>
							<a href="https://gkmccsbyconstituency.com/public/group-business"><h4>Group Business</h4></a>
							<p>
								ഗ്ലോബൽ KMCC യുടെ മെമ്പർമാർക്ക് ചെറിയ നിക്ഷേപത്തിൽ നാട്ടിൽ നിന്നൊരു വരുമാന മാർഗ്ഗവും
							</p>
							<a class=" btn wow fadeInUp" data-wow-delay=".9s" href="https://gkmccsbyconstituency.com/public/group-business" class="">Read More</a>
						</div>
						<div class="single-service wow fadeInUp" data-wow-delay=".3s">
							<div class="single-img-box">
								<img class="img-fluid" src="https://gkmccsbyconstituency.com/public/images/s1.jpg" alt="">
								<div class="over-lay"></div>
							</div>
							<a href="https://gkmccsbyconstituency.com/public/family-security"><h4>Family Security Scheme</h4></a>
							<p>
								വയനാട് ജില്ലാ ഗ്ലോബൽ KMCC യുടെ ഏകീകൃത മെമ്പർഷിപ്പിന്റെ അടിസ്ഥാനത്തിൽ
							</p>
							<a class=" btn wow fadeInUp" data-wow-delay=".9s" href="https://gkmccsbyconstituency.com/public/family-security" class="">Read More</a>
						</div>
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<div class="single-img-box">
								<img class="img-fluid" src="https://gkmccsbyconstituency.com/public/images/s3.jpg" alt="">
								<div class="over-lay"></div>
							</div>
							<a href="https://gkmccsbyconstituency.com/public/baithu-rahma"><h4>Baithu Rahma</h4></a>
							<p>
								<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
								<!--tempor incididunt ut labore et dolore magna aliqua.-->
								2009 ൽ വിടപറഞ്ഞ പാണക്കാട് സയ്യിദ് മുഹമ്മദലി ശിഹാബ് തങ്ങളുടെ സ്മരണ നില നിറുത്തുവാൻ
							</p>
							<a class=" btn wow fadeInUp" data-wow-delay=".9s" href="https://gkmccsbyconstituency.com/public/baithu-rahma" class="">Read More</a>
						</div>
						<div class="single-service wow fadeInUp" data-wow-delay=".9s">
							<div class="single-img-box">
								<img class="img-fluid" src="https://gkmccsbyconstituency.com/public/images/s4.jpg" alt="">
								<div class="over-lay"></div>
							</div>
							<a href="https://gkmccsbyconstituency.com/public/blood-donations"><h4>Blood Donation</h4></a>
							<p>
								സുൽത്താൻ ബത്തേരി മണ്ഡലം പരിധിയിലോ അടുത്ത പ്രദേശങ്ങളിലോ ഉൾപ്പെടുന്ന
							</p>
							<a class=" btn wow fadeInUp" data-wow-delay=".9s" href="https://gkmccsbyconstituency.com/public/blood-donations" class="">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> *@

	<section class="members-area">
		<div class="container">
			<div class="row ">
				<div class="col-md-12 text-center">
					<h1 class="wow fadeInUp">Our Leaders</h1>
				</div>
			</div>
			<div class="row ">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<div class="member-wrapper">
						<div class="">
							<img style="width: 200px; height: 200px; border-radius: 50%;border: none;" src="/Login_v16/images/Thangal - Copy.jpg" alt="">
							<div class="single-box">
								<p>
									Sadiq Ali Shihab Thangal
									

								</p>
								@* <h4>
									Sadiq Ali Shihab Thangal
									Politician

								</h4> *@
								@* <h5>VAKERY</h5> *@
							</div>
						</div>
						<div class="">
							<img style="width: 200px; height: 200px; border-radius: 50%;border: none;" src="/Login_v16/images/K. M. Kader Mohideen.jpg" alt="">
							<div class="single-box">
								<p>
									K. M. Kader Mohideen
								</p>
							@* 	<h4>MUSTHAK KT</h4>
								<h5>PULPALLY</h5> *@
							</div>
						</div>
						<div class="">
							<img style="width: 200px; height: 210px; border-radius: 50%;border: none;" src="/Login_v16/images/kujalikkutty.jpg" alt="">
							<div class="single-box">
								<p>
									P. K. Kunhalikutty
								</p>
								@* <h4>
									K.M.Naushad
								</h4> *@
								@* <h5>MATHAMANGALAM</h5> *@
							</div>
						</div>
						<div class="">
							<img style="width: 200px; height: 200px; border-radius: 50%;border: none;" src="/Login_v16/images/et.jpg" alt="">
							<div class="single-box">
								<p>
									E. T. Mohammed Basheer
								</p>
								@* <h4>Sidheeque Vattappara</h4> *@
								@* <h5>MANICHIRA</h5> *@
							</div>
						</div>
						<div class="">
							<img style="width: 200px; height: 200px; border-radius: 50%;border: none;" src="/Login_v16/images/abdulvahab.jpg" alt="">
							<div class="single-box">
								<p>
									P. V. Abdul Wahab
								</p>
								@* <h4>XL Jamal</h4> *@
								@* <h5>THOTTAPPAN KULAM</h5> *@
							</div>
						</div>
					
					</div>
					<a style="background-color:#053b06 !important;" class="wow fadeInUp" href="@Url.Action("Committiee", "Home")" class="">More</a>
				</div>
			</div>
		</div>
	</section>

	<section class="blog-area " id="blog">
		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<h1 class="wow fadeInUp">Activity</h1>
					<div class="notifications-area">
						<div class="themeum-latest-post-wrap" style="height:500px;">
							<marquee onMouseOver="this.stop()" onMouseOut="this.start()" direction="up" scrollamount="3" height="400px;">
								<div class="themeum-latest-post-list">
									@* <span class="post-list-meta-date">
										<i class="far fa-clock"></i>11 Dec, 2020
									</span> *@
									<div class="post-list-title">
										<span>അവാർഡ് വിതരണവും മെമ്പർഷിപ്പ് കാർഡ് വിതരണവും.

									</div>
								</div>
								<div class="themeum-latest-post-list">
									@* <span class="post-list-meta-date">
										<i class="far fa-clock"></i>07 Sep, 2020
									</span> *@
									<div class="post-list-title">
										<span>ആദരിച്ചു</span>
										പ്രധാനമന്ത്രി റിസർച്ച് ഫെല്ലോഷിപ്പ് നേടിയ ഫൈഹ മുജീബിനുള്ള ആദരവ്.

									</div>
								</div>
							@* 	<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>29 Aug, 2020
									</span>
									<div class="post-list-title">
										<span>ഓണ കിറ്റുകൾ നൽകി</span>
										മണ്ഡലത്തിലെ മുഴുവൻ മാധ്യമ പ്രവർത്തകർക്കും ഓണ കിറ്റുകൾ നൽകി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>05 Aug, 2020
									</span>
									<div class="post-list-title">
										<span>വൈറ്റ് ഗാര്‍ഡിനൊരു കൈത്താങ്ങ്</span>
										സുല്‍ത്താന്‍ ബത്തേരി മണ്ഡലം വൈറ്റ് ഗാര്‍ഡിന് സന്നദ്ധ പ്രവര്‍ത്തനങ്ങള്‍ക്കാവിശ്യമായ 180330 രൂപയുടെ ഉപകരണങ്ങളും മറ്റും നല്‍കി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>21 Jul, 2020
									</span>
									<div class="post-list-title">
										<span>വിദ്യാർത്ഥികളെ ആദരിച്ചു</span>
										SSLC പരീക്ഷയിൽ എല്ലാ വിഷയത്തിലും A+ വാങ്ങിയ GLOBAL KMCC കുടുംബത്തിലെ വിദ്യാർത്ഥികളായ  മുഹമ്മദ്‌ മിദ്‌ലാജ് ചീരാല്‍ , അമീറാ ബാനു മാതമംഗലം എന്നിവർക്ക് മെമന്റോയും ക്യാഷ് പ്രൈസും നൽകി ആദരിച്ചു.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>28 Jun, 2020
									</span>
									<div class="post-list-title">
										<span>വിവാഹ സഹായം</span>
										അമ്പലവയലില്‍ പാവപ്പെട്ട ഒരു കുട്ടിയുടെ വിവാഹത്തിന് 25000
										രൂപ നല്‍കി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>20 Apr, 2020
									</span>
									<div class="post-list-title">
										<span>ഹരിത വയനാട് ജില്ലാ കമ്മിറ്റിക്ക് ധന സഹായം</span>
										ഹരിത വയനാട് ജില്ലാ നേതൃത്വ ക്യാമ്പിന് ധന സഹായം നല്‍കി.
									</div>
								</div> *@
							@* 	<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>30 Dec, 2019
									</span>
									<div class="post-list-title">
										<span>ചികിത്സാ സഹായം</span>
										മണിച്ചിറയുള്ള ഒരു രോഗിക്ക് ചികിത്സാ സഹായമായി 7300 രൂപ ൽകി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>25 Nov, 2019
									</span>
									<div class="post-list-title">
										<span>വിദ്യാർത്ഥിനികളെ ആദരിച്ചു</span>
										സഹപാഠിയുടെ നീതിക്ക് വേണ്ടി ശബ്‌ദിച്ച നിദ ഫാത്തിമ , കീർത്തന എന്ന വിദ്യാർത്ഥിനികൾക്ക് മെമന്റോയും ക്യാഷ് പ്രൈസും നൽകി ആദരിച്ചു.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>25 Sep, 2019
									</span>
									<div class="post-list-title">
										<span>ചികിത്സാ സഹായം</span>
										മണിച്ചിറയുള്ള ഒരു രോഗിക്ക് ചികിത്സാ സഹായമായി 11500 രൂപ ൽകി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>19 Sep, 2019
									</span>
									<div class="post-list-title">
										<span>വിവാഹ സഹായം</span>
										ചെതലയത്ത് പാവപ്പെട്ട രണ്ട് സഹോദരിമാരുടെ വിവാഹത്തിന് 31000 രൂപ നല്‍കി.
									</div>
								</div> *@
							@* 	<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>20 Jul, 2019
									</span>
									<div class="post-list-title">
										<span>ചികിത്സാ സഹായം</span>
										എരുമാടുള്ള കിഡ്നി രോഗിക്ക് 25000 രൂപ ചികിത്സാ സഹായമായി നല്‍കി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>11 Aug, 2018
									</span>
									<div class="post-list-title">
										<span>വീട് നിർമ്മാണത്തിന് ധന സഹായം</span>
										മുള്ളൻ കൊല്ലി പഞ്ചായത്തിലെ പട്ടാണിക്കൂപിൽ മുൻ പ്രവാസിയുടെ വീട് നിർമ്മാണത്തിന് കമ്മിറ്റി അംഗങ്ങൾ ചേർന്ന്  75000 രൂപ നൽകി.
									</div>
								</div> *@
								@* <div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>27 Dec, 2017
									</span>
									<div class="post-list-title">
										<span>മുച്ചക്ര വാഹനം കൈമാറി</span>
										സുൽത്താൻ ബത്തേരി നിയോജകമണ്ഡലം MSF  സമ്മേളന വേദിയിൽ വെച്ച് പൂതാടി പഞ്ചായത്തിലെ ഒരു കോളേജ് വിദ്യാർത്ഥിക്ക് ഏതാണ്ട് 86000 രൂപ വിലവരുന്ന മുച്ചക്ര വാഹനം ബഹു : കെ എൻ എ ഖാദർ എം എൽ എ മുഖാന്തിരം കൈമാറി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>27 Dec, 2017
									</span>
									<div class="post-list-title">
										<span>MSF മണ്ഡലം കമ്മിറ്റിക്ക് ധന സഹായം</span>
										സുൽത്താൻ ബത്തേരി വെച്ച് സംഘടിപ്പിച്ച MSF നിയോജകമണ്ഡലം സമ്മേളനവുമായി ബന്ധപ്പെട്ട് ഭക്ഷണ ആവശ്യത്തിലേക്ക് 57000 രൂപ നൽകി.
									</div>
								</div> *@
							@* 	<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>17 Dec, 2017
									</span>
									<div class="post-list-title">
										<span>സൗജന്യ മെഗാ മെഡിക്കൽ ക്യാമ്പ് അമ്പലവയലില്‍</span>
										‌കമ്മ്യൂണിറ്റി ഹാള്‍ അമ്പലവയൽ പഞ്ചായത്ത് : ക്യാമ്പിൽ പങ്കെടുത്ത്‌ രജിസ്റ്റർ ചെയ്ത മുഴുവൻ രോഗികൾക്കും സൗജന്യ മരുന്ന് , തിമിര ശസ്ത്രക്രിയ ആവശ്യമായവർക്ക് സൗജന്യ ശസ്ത്രക്രിയ , ഡോക്ടമാർ നിർദ്ദേശിച്ച രോഗികൾക്ക് സൗജന്യ കണ്ണട , തുടർ ചികിത്സക്ക് വേണ്ടി തെരെഞ്ഞെടുക്കപ്പെട്ട രോഗികള്‍ക്ക് തുടർ ചികിത്സ തുടങ്ങിയവ വിംസ് വയനാടിന്‍റെ സഹകരണത്തോടെ നല്‍കി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>10 Dec, 2017
									</span>
									<div class="post-list-title">
										<span>സൗജന്യ മെഗാ മെഡിക്കൽ ക്യാമ്പ് ചെതലയത്ത്</span>
										ചേനാട് സ്കൂള്‍ ചെതലയം : ക്യാമ്പിൽ പങ്കെടുത്ത്‌ രജിസ്റ്റർ ചെയ്ത മുഴുവൻ രോഗികൾക്കും സൗജന്യ മരുന്ന് , തിമിര ശസ്ത്രക്രിയ ആവശ്യമായവർക്ക് സൗജന്യ ശസ്ത്രക്രിയ , ഡോക്ടമാർ നിർദ്ദേശിച്ച രോഗികൾക്ക് സൗജന്യ കണ്ണട , തുടർ ചികിത്സക്ക് വേണ്ടി തെരെഞ്ഞെടുക്കപ്പെട്ട രോഗികള്‍ക്ക് തുടർ ചികിത്സ തുടങ്ങിയവ വിംസ് വയനാടിന്‍റെ സഹകരണത്തോടെ നല്‍കി.
									</div>
								</div> *@
							@* 	<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>25 Nov, 2017
									</span>
									<div class="post-list-title">
										<span>സൗജന്യ മെഗാ മെഡിക്കൽ ക്യാമ്പ് ബത്തേരിയില്‍</span>
										WMO സ്കൂള്‍ സുല്‍ത്താന്‍ ബത്തേരി : ക്യാമ്പിൽ പങ്കെടുത്ത്‌ രജിസ്റ്റർ ചെയ്ത മുഴുവൻ രോഗികൾക്കും സൗജന്യ മരുന്ന് , തിമിര ശസ്ത്രക്രിയ ആവശ്യമായവർക്ക് സൗജന്യ ശസ്ത്രക്രിയ , ഡോക്ടമാർ നിർദ്ദേശിച്ച രോഗികൾക്ക് സൗജന്യ കണ്ണട , തുടർ ചികിത്സക്ക് വേണ്ടി തെരെഞ്ഞെടുക്കപ്പെട്ട രോഗികള്‍ക്ക് തുടർ ചികിത്സ തുടങ്ങിയവ വിംസ് വയനാടിന്‍റെ സഹകരണത്തോടെ നല്‍കി.
									</div>
								</div>
								<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>17 Nov, 2017
									</span>
									<div class="post-list-title">
										<span>സൗജന്യ മെഗാ മെഡിക്കൽ ക്യാമ്പ് നായ്ക്കെട്ടിയില്‍</span>
										ALP സ്ക്കൂള്‍ നായ്ക്കെട്ടി : മെഡിക്കൽ ക്യാമ്പ് ഉദ്ഘാടനം ബഹു : കെ എം ഷാജി എം എൽ എ  ഉദ്‌ഘാടനം നിർവഹിച്ചു. ക്യാമ്പിൽ പങ്കെടുത്ത്‌ രജിസ്റ്റർ ചെയ്ത മുഴുവൻ രോഗികൾക്കും സൗജന്യ മരുന്ന് ,  തിമിര ശസ്ത്രക്രിയ ആവശ്യമായവർക്ക് സൗജന്യ ശസ്ത്രക്രിയ , ഡോക്ടമാർ നിർദ്ദേശിച്ച രോഗികൾക്ക്  സൗജന്യ കണ്ണട , തുടർ ചികിത്സക്ക് വേണ്ടി തെരെഞ്ഞെടുക്കപ്പെട്ട രോഗികള്‍ക്ക് തുടർ ചികിത്സ തുടങ്ങിയവ വിംസ് വയനാടിന്‍റെ സഹകരണത്തോടെ നല്‍കി.
									</div>
								</div> *@
							@* 	<div class="themeum-latest-post-list">
									<span class="post-list-meta-date">
										<i class="far fa-clock"></i>30 Sep, 2017
									</span>
									<div class="post-list-title">
										<span>MSF ജില്ലാ കമ്മിറ്റിക്ക് ധന സഹായം</span>
										MSF ജില്ലാ കമ്മിറ്റി ആവശ്യപ്പെട്ടതുപ്രകാരമുള്ള ശാഖ കമ്മിറ്റി മുതൽ ജില്ലാ കമ്മിറ്റി വരെ ഉപയോഗിക്കാൻ പറ്റുന്ന തരത്തിലുള്ള മിനുട്സ് പുസ്തകങ്ങൾ വാങ്ങുന്ന ആവശ്യത്തിലേക്ക് 15000 രൂപ നൽകി കൊണ്ട് GLOBAL KMCC പ്രഥമ മണ്ഡലം കമ്മിറ്റിയുടെ  പ്രവർത്തനം ആരംഭിച്ചു.
									</div>
								</div> *@

							</marquee>
							<div class="button-wrapper">
								<a href="" class="">
									More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
					<h1 class="wow fadeInUp">Latest News</h1>
					<div class="blog-wrapper">
						<div class=" single-blog wow fadeInUp">
							<div class="thumb">
								<a href=""><img class="img-fluid" src="/Login_v16/images/award1.jpg"></a>
							</div>
							@* <p class="date">11 Dec 2020</p> *@
							<a href="">
								<h4>
									പ്രധാനമന്ത്രി റിസർച്ച് ഫെല്ലോഷിപ്പ് നേടിയ ഫൈഹ മുജീബിനുള്ള ആദരവ്
								</h4>
							</a>
							<!--<p>-->
							<!--	സുൽത്താൻ ബത്തേരി നിയോജക മണ്-->
							<!--</p>								-->
						</div>
						<div class=" single-blog wow fadeInUp">
							<div class="thumb">
								<a href=""><img class="img-fluid" src="/Login_v16/images/membership.jpg"></a>
							</div>
							@* <p class="date">10 Sep 2020</p> *@
							<a href="">
								<h4>
									അവാർഡ് വിതരണവും മെമ്പർഷിപ്പ് കാർഡ് വിതരണവും
								</h4>
							</a>
							<!--<p>-->
							<!--	സുൽത്താൻ ബത്തേരി നിയോജക മണ്-->
							<!--</p>								-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
@* 
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 media-wing">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<h3>Media Wing</h3>
						<div class="media-wrapper">
							<div class="media-box">
								<img class="img-responsive" src="https://gkmccsbyconstituency.com/public/uploads/member/medium/1713993193.png">
								<h4>PT SHAFEEQUE</h4>
								<h4>+966 50 979 3455</h4>
							</div><div class="media-box">
								<img class="img-responsive" src="https://gkmccsbyconstituency.com/public/uploads/member/medium/1713992958.png">
								<h4>N SAIDALAVI</h4>
								<h4>+966 572979826</h4>
							</div><div class="media-box">
								<img class="img-responsive" src="https://gkmccsbyconstituency.com/public/uploads/member/medium/1713991394.png">
								<h4>MUHAMMED JAMSHEED KA</h4>
								<h4>+91 95390 91975</h4>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
 *@


	<footer style="background-color:#053b06 !important;">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
					<h1> CONTACT US </h1>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dlt-bx">
						<i class="far fa-building" aria-hidden="true"></i>
						<p>
							Global KMCC<br>
							Vazhakkad, Malappuram, Kerala
						</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dlt-bx">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<p>
							Contact : <a style="color:#fff" href="tel:+919895706860">+91 9895706860</a>
						</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dlt-bx">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<p>
							globalkmccvkd@gmail.com <br>
							
						</p>
					</div>
					@* <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ft-link">
						<p>
							<a href="https://gkmccsbyconstituency.com/public"> Home </a>
							<a href="https://gkmccsbyconstituency.com/public/about-us"> About Us </a>
							<a href="https://gkmccsbyconstituency.com/public/schemes"> Schemes </a>
							<a href="https://gkmccsbyconstituency.com/public/committee"> Committee </a>
							<a href="https://gkmccsbyconstituency.com/public/news"> News </a>
							<a href="https://gkmccsbyconstituency.com/public/gallery"> Gallery </a>
							<a href="https://gkmccsbyconstituency.com/public/contact"> Contact Us </a>
						</p>
					</div> *@
				</div>
			</div>
		</div>
	</footer>

	<a href="#" onclick="goToByScroll('logo')"> <i class="fas fa-arrow-up go-top go-top-no"></i>  </a>


	<script src="https://gkmccsbyconstituency.com/public/js/jquery-1.9.1.min.js"></script>

	<script>
		$(document).ready(function () {

			var owl = $("#owl-demo-clients");

			owl.owlCarousel({
				navigation: true,
				singleItem: true,
				items: 5,
				itemsDesktop: [1199, 5],
				itemsDesktopSmall: [979, 4],
				itemsTablet: [768, 3],
				itemsMobile: [479, 1],
				pagination: true,
				navigation: false,
				loop: true,
				singleItem: false
				// transitionStyle : "fade"
			});

			//Select Transtion Type
			$("#transitionType").change(function () {
				var newValue = $(this).val();

				//TransitionTypes is owlCarousel inner method.
				owl.data("owlCarousel").transitionTypes(newValue);

				//After change type go to next slide
				owl.trigger("owl.next");
			});
		});
	</script>
	<script src="js/owl.carousel.js"></script>

	<script type="text/javascript" src="https://gkmccsbyconstituency.com/public/js/nav-bar-jq.js"></script>
	<script src="https://gkmccsbyconstituency.com/public/js/parallax.js"></script>

	<script>
		function goToByScroll(id) {
			$('html,body').animate({ scrollTop: $("#" + id).offset().top - 0 }, 'slow');
		}
	</script>


</body>
</html>
