@model demo.Models.ResetPasswordViewModel
@{
    Layout = null;
}
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="css/style.css?v4">
	<script src="//unpkg.com/alpinejs" defer></script>
	<script src="/js/register.js?v4"></script>
	<script src="public/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/Login_v16/table/css/style.css">

	<link rel="stylesheet" href="/css/style.css?v4">

	<style>

	@@media (max-width:978px){
		.abcd{
				margin-left:-7px !important;

		}

			.form-control {
				width: 387px !important;
			}
	}
	
	body {
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			padding-top: 250px;
		}

		.topnav {
			overflow: hidden;
			background: linear-gradient(to right, #37f67f, #12d34c) !important;
		}

			.topnav a {
				float: right;
				color: #f2f2f2;
				text-align: center;
				padding: 20px 20px;
				text-decoration: none;
				font-size: 20px;
			}

				.topnav a:hover {
					background-color: #ddd;
					color: green;
				}

		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 5px 5px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 1px 1px;
			cursor: pointer;
			width:50%;
		}

		.form-control {
			width: 500px;
		}

		.form-wrapper {
			margin-bottom: 10px;
			padding: 10px;
		}

		.form-inputs {
			display: inline-block; /* Ensures form elements are on the same line */
		}

			.form-inputs .form-wrapper {
				display: block; /* Sets each form input as a block for vertical alignment */
			}

		.center-button {
			text-align: center; /* Aligns the button to the center */
			width: 50%; /* Forces the container to take full width */
		}

			.center-button button {
				display: inline-block; /* Makes the button inline-block to center it */
			}

		.form-label {
			color: black;
			text-align: left;
		}
	</style>


</head>
<body align="center" style="background-image: url('/Login_v16/images/bg-registration-form-2.jpg');">
<h1>@ViewData["Title"]</h1>
@* <h4 align="cnter">Reset your password.</h4> *@
@* <hr /> *@
	<div class="row abcd" style="margin-top: -75px ;" align="center">
    <div class="col-md-4">
        <form method="post" asp-controller="RegNo" asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Token" type="hidden" />
				<div class="form-wrapper" align="left">
				<label style="color:black;" asp-for="RegNo" >Registration number</label>
					<input asp-for="RegNo" class="form-control" autocomplete="RegNo" aria-required="true" readonly />
                
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
				<div class="form-wrapper" align="left">
					<label style="color:black;" asp-for="Email" ></label>
					<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" readonly />
                
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
				<div class="form-wrapper" align="left">
					<label style="color:black;" asp-for="Password" ></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
				<div class="form-wrapper" align="left">
					<label style="color:black;text-align: left;" asp-for="ConfirmPassword" ></label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
				<button type="submit" class="btn btn-primary" style="width:40%;">Reset</button>
        </form>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

